.iframe_mapa {
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row; }

.principal_contacto {
  justify-content: center;
  align-items: center; }

.titulo_consultas_contacto {
  list-style: none;
  font-family: montserrat;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  font-weight: 500;
  color: #796f67;
  justify-content: center;
  align-items: center; }

.subtitulo_consultas_contacto {
  list-style: none;
  font-family: montserrat;
  font-size: 17px;
  text-align: left;
  font-weight: 500;
  color: black;
  justify-content: center;
  align-items: center; }

.subtitulo_consultas_contacto_2 {
  list-style: none;
  font-family: montserrat;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  color: black;
  justify-content: center;
  align-items: center; }

.titulo_ppal_paginassec {
  font-family: montserrat;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  color: #796f67;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.card_pOutlet {
  font-family: montserrat;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin-bottom: 80px;
  margin-top: 10px;
  background-color: white; }

.card_pOutlet:hover {
  transform: scale(103%); }

.card-title_producto_detalle {
  list-style: none;
  font-family: montserrat;
  font-size: 28px;
  text-align: left;
  line-height: 18px;
  font-weight: 500;
  color: #796f67;
  justify-content: left;
  align-items: center; }

.card_text_producto_detalle ul {
  list-style: none;
  font-family: montserrat;
  font-size: 14px;
  font-weight: normal;
  line-height: 11px;
  text-align: left;
  align-items: center;
  justify-content: center; }

.card_prod_det {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.subtitulos_producto_detalle {
  list-style: none;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 28px;
  color: black; }

.imagen_producto_detalle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.form-select_prod_det {
  width: 130px; }

@font-face {
  font-family: montserrat;
  src: url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700; 1,800;1,900 & mostrar=cambiar"); }

.navbar, footer div {
  font-family: montserrat;
  font-weight: normal;
  font-size: 16px; }
  .navbar:hover, footer div:hover {
    color: black; }
  .navbar img, footer div img {
    width: 110px;
    height: 45px; }

.titulo_ppal_index {
  font-family: montserrat;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px; }

.titulos_ppales_index {
  font-family: montserrat;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 27px;
  color: #796f67; }

.subtitulos_ppales_index {
  font-family: montserrat;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: montserrat;
  font-weight: normal;
  font-size: 17px;
  color: black; }

.subtitulos_ppales_index_2 {
  font-family: montserrat;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: montserrat;
  font-size: 20px;
  font-weight: 600; }

.btn {
  background-color: #e8e8e8;
  color: black;
  font-family: montserrat;
  font-size: 15px;
  font-weight: normal;
  border: transparent solid 1px;
  border-radius: 30px; }
  .btn:hover {
    background-color: black;
    color: white; }

.btn_news {
  background-color: #353535;
  color: #f1f1f1;
  height: 150px;
  width: 100%;
  justify-content: center;
  font-family: montserrat;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 0px;
  line-height: normal; }
  .btn_news:hover {
    background-color: #e8e8e8;
    color: #353535; }

.btn_prod_det {
  background-color: red;
  border: 1px white solid;
  border-radius: 30px;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
  width: 147px;
  text-decoration: none; }
  .btn_prod_det:hover {
    background-color: white;
    color: red;
    border: red solid 1px; }

.dropdown-menu-2 {
  height: 10px;
  width: 10px;
  border: 0px transparent solid;
  margin: 10px;
  padding-left: 10px;
  font-size: 11px;
  background-color: transparent; }

.btn_ultimas_red {
  background-color: red;
  color: white;
  font-family: montserrat;
  font-size: 15px;
  font-weight: normal;
  border-radius: 30px; }
  .btn_ultimas_red:hover {
    background-color: white;
    border: 1px solid red;
    color: red; }

.card {
  font-family: montserrat;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 5px;
  color: black;
  font-weight: 700;
  margin-bottom: 80px;
  margin-top: 10px;
  background-color: white; }
  .card:hover {
    transform: scale(102%); }
  .card .card-title {
    font-size: 15px;
    color: black;
    font-weight: 600; }

.entrega_inmediata {
  font-family: montserrat;
  height: 400px;
  background-image: linear-gradient(to top, #c5c5c5, #f1f1f1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .entrega_inmediata .iframe_home {
    width: 50%;
    align-items: center;
    margin: auto;
    margin-left: 20px; }

.outlet {
  justify-content: center;
  align-items: center; }
  .outlet img {
    opacity: 80%; }
  .outlet .titulo_outlet {
    font-family: montserrat;
    font-size: 26px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center; }
  .outlet a {
    text-decoration: none; }
  .outlet .animate__pulse {
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .outlet .btn_outlet {
    background-color: white;
    color: black;
    font-family: montserrat;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    height: 35px;
    width: 100px;
    justify-content: center;
    align-items: center; }
    .outlet .btn_outlet:hover {
      color: white;
      background-color: black; }

.breadcrumb_texto {
  font-family: montserrat;
  font-size: 13px;
  text-align: left;
  font-weight: 400;
  color: black;
  justify-content: left;
  margin-left: 25px;
  text-decoration: none; }

.redes_sociales {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

footer {
  background-color: #f1f1f1;
  padding-top: 1%;
  padding-bottom: 1%; }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px; }
    footer div a {
      text-decoration: none;
      color: black;
      font-weight: 400;
      align-items: center; }
    footer div img {
      width: 110px;
      height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    footer div ul li {
      list-style: none; }
      footer div ul li:hover {
        text-decoration: underline;
        color: black; }

.btn--facebook {
  background-color: #7f9edb;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  width: 95px; }
  .btn--facebook:hover {
    background-color: white;
    color: black; }

.btn--instagram {
  background-color: #e600ff;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  width: 95px; }
  .btn--instagram:hover {
    background-color: white;
    color: black; }
