.iframe_mapa {
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row; }

.titulo_consultas_contacto {
  list-style: none;
  font-family: montserrat;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  font-weight: 500;
  color: #796f67;
  justify-content: center;
  align-items: center; }

.subtitulo_consultas_contacto {
  list-style: none;
  font-family: montserrat;
  font-size: 17px;
  text-align: left;
  font-weight: 500;
  color: black;
  justify-content: center;
  align-items: center; }

.subtitulo_consultas_contacto_2 {
  list-style: none;
  font-family: montserrat;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  color: black;
  justify-content: center;
  align-items: center; }

.titulo_ppal_paginassec {
  font-family: montserrat;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  color: #796f67;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.card_pOutlet {
  font-family: montserrat;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin-bottom: 80px;
  margin-top: 10px;
  background-color: white; }

.card_pOutlet:hover {
  transform: scale(103%); }

.img_producto_detalle {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.card-title_producto_detalle {
  list-style: none;
  font-family: montserrat;
  font-size: 30px;
  text-align: left;
  line-height: 30px;
  font-weight: 500;
  color: #796f67;
  justify-content: center;
  align-items: center; }

.card_text_producto_detalle ul {
  list-style: none;
  font-family: montserrat;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  text-align: left; }

.subtitulos_producto_detalle {
  list-style: none;
  font-family: montserrat;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
  color: black; }

.imagen_producto_detalle {
  width: 100%;
  align-items: center;
  justify-content: center; }

.form-select_prod_det {
  width: 200px;
  margin-top: -1px; }

@font-face {
  font-family: montserrat;
  src: url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700; 1,800;1,900 & mostrar=cambiar"); }

.navbar {
  font-family: montserrat;
  justify-content: center;
  align-items: center; }
  .navbar img {
    width: 110px;
    height: 45px; }

.titulo_ppal_index {
  font-family: montserrat;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.titulos_ppales_index {
  font-family: montserrat;
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  color: black;
  justify-content: center;
  align-items: center; }

.subtitulos_ppales_index {
  width: 80%;
  margin: auto;
  font-family: montserrat;
  font-weight: normal;
  text-align: center;
  font-size: 17px;
  color: #796f67;
  justify-content: center;
  align-items: center; }

.btn {
  background-color: #e8e8e8;
  color: black;
  font-family: montserrat;
  font-weight: normal;
  border: transparent solid 1px;
  border-radius: 30px; }
  .btn:hover {
    background-color: black;
    color: white; }

.card {
  font-family: montserrat;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 10px;
  color: black;
  font-weight: 700;
  margin-bottom: 80px;
  margin-top: 10px;
  background-color: white; }
  .card:hover {
    transform: scale(105%); }
  .card .card-title {
    font-size: 18px;
    color: black;
    font-weight: 600; }
  .card .card_categorias_borde {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
    margin-top: 15px; }

.entrega_inmediata {
  font-family: montserrat;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to top, #c5c5c5, #f1f1f1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px; }
  .entrega_inmediata .iframe_home {
    width: 50%;
    align-items: center;
    margin: auto;
    margin-left: 20px; }

.outlet {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px; }
  .outlet img {
    opacity: 80%; }
  .outlet .titulo_outlet {
    font-family: montserrat;
    font-weight: 500;
    font-size: 25px;
    color: white; }
  .outlet .subtitulo_outlet {
    font-family: montserrat;
    font-weight: 500;
    font-size: 18px;
    color: white; }
  .outlet .animate__pulse {
    animation-duration: 2s;
    animation-iteration-count: infinite; }

footer {
  background-color: #f1f1f1;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 50px;
  margin-bottom: auto; }
  footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px; }
    footer div a {
      text-decoration: none;
      color: black;
      font-weight: 400;
      align-items: center; }
    footer div img {
      width: 110px;
      height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    footer div ul li {
      list-style: none;
      color: #cc1414; }
