@import "pages/contacto";
@import "pages/outlet";
@import "pages/sillagaudi";
@import "pages/sillasdecomedor";

@font-face {
font-family: montserrat;
src: url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700; 1,800;1,900 & mostrar=cambiar');
}

@mixin titulos__ppales {
    font-family: montserrat;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navbar{
    font-family: montserrat;
    font-weight: normal;
    font-size: 16px;
    &:hover{
        color: black;
    }
    img{
        width: 110px;
        height: 45px;
    }
}
.titulo_ppal_index{
    @include titulos__ppales;
    font-weight: 500;
    font-size: 30px;
    margin-top:30px;
}
.titulos_ppales_index{
    @include titulos__ppales;
    font-weight: normal;
    font-size: 27px;
    color:rgb(121, 111, 103);
}
.subtitulos_ppales_index{
    @include titulos__ppales;
    margin: auto;
    font-family: montserrat;
    font-weight: normal;
    font-size: 17px;
    color:rgb(0, 0, 0);
}
.subtitulos_ppales_index_2{
@include titulos__ppales;
font-family: montserrat;
font-size: 20px;
font-weight: 600;
}
.btn{
    background-color: rgb(232, 232, 232);
    color: black;
    font-family: montserrat;
    font-size: 15px;
    font-weight: normal;
    border: transparent solid 1px;
    border-radius: 30px;
    &:hover{
        background-color: black;
        color: white;
    }
}
.btn_news{
    background-color: rgb(53, 53, 53);
    color:  rgb(241, 241, 241);
    height: 150px;
    width: 100%;
    justify-content: center;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 0px;
    line-height: normal;
    &:hover{
        background-color: rgb(232, 232, 232);
        color:  rgb(53, 53, 53);
    }
}
.btn_prod_det{
    background-color: red;
    border: 1px white solid;
    border-radius: 30px;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20px;
    width: 147px;
    text-decoration: none;
    &:hover{
    background-color: white;
    color: red;
    border: red solid 1px;
    }
}
.dropdown-menu-2{
    height: 10px;
    width: 10px;
    border: 0px transparent solid;
    margin: 10px;
    padding-left: 10px;
    font-size: 11px;
    background-color: transparent;
}
.btn_ultimas_red{
    background-color: red;
    color: white;
    font-family: montserrat;
    font-size: 15px;
    font-weight: normal;
    border-radius: 30px;
    &:hover{
        background-color: rgb(255, 255, 255);
        border: 1px solid red;
        color:red;
    }
}
.card{
    font-family: montserrat;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 5px;
    color:rgb(0, 0, 0);
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 10px;
    background-color: white;    
    &:hover{
        transform: scale(102%);
    }
    .card-title{
        font-size: 15px;
        color:rgb(0, 0, 0);
        font-weight: 600;
    }
}
.entrega_inmediata{
    font-family: montserrat;
    height: 400px;
    background-image: linear-gradient(to top, rgb(197, 197, 197), rgb(241, 241, 241));
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    .iframe_home{
        width: 50%;
        align-items: center;
        margin: auto;
        margin-left: 20px;
        }
}
.outlet{
    justify-content: center;
    align-items: center;
    img{
        opacity: 80%;
    }
    .titulo_outlet{
        font-family: montserrat;
        font-size: 26px;
        text-align: center;
        color:rgb(255, 255, 255);
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
    }
    .animate__pulse{
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .btn_outlet{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: montserrat;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        height: 35px;
        width: 100px;
        justify-content: center;
        align-items: center;
        &:hover{
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);}
    }
}
.breadcrumb_texto{
    font-family: montserrat;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    color: black;
    justify-content: left;
    margin-left: 25px;
    text-decoration: none;
}
.redes_sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
footer{
    background-color:rgb(241, 241, 241);
    padding-top: 1%;
    padding-bottom: 1%;
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        @extend .navbar;
        font-size: 12px;
        a{
            text-decoration: none;
            color: black;
            font-weight: 400;
            align-items: center;
        }
        img{
            width: 110px;
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        ul li{
            list-style: none;
            &:hover{
                text-decoration: underline;
                color: black;
            }
        }
    }
}
$redesociales:(
    facebook:#7f9edb,
    instagram: #e600ff,
);
@each $red, $color in $redesociales{
    .btn--#{$red}{
        background-color: $color;
        color: white;
        font-size: 12px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        width: 95px;
        &:hover{
            background-color: rgb(255, 255, 255);
            color: black;
        }     
    }
}

